<div class="banner">
  <div class="container">
    <h1>Himatro Unila</h1>
    <p>Selalu Terdepan Dalam Teknologi</p>
    <a href="/tentang" class="button button-primary">Tentang Kami</a>
  </div>
</div>
