<nav class="navbar navbar-expand-md navbar-dark">
<div class="container">
  <a href="/" class="navbar-brand">HimatroUnila.org</a>

  <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
    <span class="menu-icon-bar"></span>
    <span class="menu-icon-bar"></span>
    <span class="menu-icon-bar"></span>
  </button>

  <div id="main-nav" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li><a href="/" class="nav-item nav-link active">Halaman Utama</a></li>
      <li><a href="/tentang" class="nav-item nav-link">Tentang Kami</a></li>
      <li class="dropdown">
        <a href="#" class="nav-item nav-link" data-toggle="dropdown">Fitur</a>
        <div class="dropdown-menu">
          <a href="/absensi" class="dropdown-item">Absensi</a>
          <a href="/tahap-pengembangan" class="dropdown-item">dalam tahap pengembangan</a>
          <a href="/tahap-pengembangan" class="dropdown-item">dalam tahap pengembangan</a>
        </div>
      </li>
      <li><a href="/kontak" class="nav-item nav-link">Kontak</a></li>
      <li><button type="button" class="btn btn-warning"><a href="/login" class="nav-item nav-link">Login</a></button></li>
    </ul>
  </div>
</div>
</nav>
