node_modules/
ocr-api/
api/simple-ocr/__pycache__/
.env
db/data
views/raw/
views/test/
api/simple-ocr/.env
log.txt
test.js
nodemon.json
uploads/
key.sql
sqlInitSDMAbsent.js
himatro-web-app.zip
views/.fuse_hidden0000106c00000003