node_modules/
ocr-api/
.env
views/raw/
views/test/
db/data/
api/simple-ocr/.env
log.txt
test.js
nodemon.json
uploads/
key.sql
sqlInitSDMAbsent.js
himatro-web-app.zip
views/.fuse_hidden0000106c00000003