<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="icon" type="image" href="/images/favicon.ico">
    <title>Halaman Admin</title>
  </head>
  <body>
    <header>
      <nav>
        <ul class="navigation">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1 class="judul-halaman">Halaman Khusus Admin Himatro</h1>

      <div class="container-daftar-menu">
        <h4 class="judul-menu">Daftar Menu:</h4>
        <div class="container-menu">
          <div class="menu">
            <h6>Judul Menu</h6>
            <p class="deskripsi-menu">Ini adalah deskripsi dari menu tersebut</p>
            <button class="btn-menu"><strong>Gunakan</strong></button>
          </div>
          <div class="menu">
            <h6>Judul Menu</h6>
            <p class="deskripsi-menu">Ini adalah deskripsi dari menu tersebut</p>
            <button class="btn-menu"><strong>Gunakan</strong></button>
          </div>
          <div class="menu">
            <h6>Judul Menu</h6>
            <p class="deskripsi-menu">Ini adalah deskripsi dari menu tersebut</p>
            <button class="btn-menu"><strong>Gunakan</strong></button>
          </div>
          <div class="menu">
            <h6>Judul Menu</h6>
            <p class="deskripsi-menu">Ini adalah deskripsi dari menu tersebut</p>
            <button class="btn-menu"><strong>Gunakan</strong></button>
          </div>
          <div class="menu">
            <h6>Judul Menu</h6>
            <p class="deskripsi-menu">Ini adalah deskripsi dari menu tersebut</p>
            <button class="btn-menu"><strong>Gunakan</strong></button>
          </div>
          <div class="menu">
            <h6>Judul Menu</h6>
            <p class="deskripsi-menu">Ini adalah deskripsi dari menu tersebut</p>
            <button class="btn-menu"><strong>Gunakan</strong></button>
          </div>
          <div class="menu">
            <h6>Judul Menu</h6>
            <p class="deskripsi-menu">Ini adalah deskripsi dari menu tersebut</p>
            <button class="btn-menu"><strong>Gunakan</strong></button>
          </div>
          <div class="menu">
            <h6>Judul Menu</h6>
            <p class="deskripsi-menu">Ini adalah deskripsi dari menu tersebut</p>
            <button class="btn-menu"><strong>Gunakan</strong></button>
          </div>
          <div class="menu">
            <h6>Judul Menu</h6>
            <p class="deskripsi-menu">Ini adalah deskripsi dari menu tersebut</p>
            <button class="btn-menu"><strong>Gunakan</strong></button>
          </div>
          <div class="menu">
            <h6>Judul Menu</h6>
            <p class="deskripsi-menu">Ini adalah deskripsi dari menu tersebut</p>
            <button class="btn-menu"><strong>Gunakan</strong></button>
          </div>
          <div class="menu">
            <h6>Judul Menu</h6>
            <p class="deskripsi-menu">Ini adalah deskripsi dari menu tersebut</p>
            <button class="btn-menu"><strong>Gunakan</strong></button>
          </div>
          <div class="menu">
            <h6>Judul Menu</h6>
            <p class="deskripsi-menu">Ini adalah deskripsi dari menu tersebut</p>
            <button class="btn-menu">Gunakan</button>
          </div>
          <div class="menu">
            <h6>Judul Menu</h6>
            <p class="deskripsi-menu">Ini adalah deskripsi dari menu tersebut</p>
            <button class="btn-menu">Gunakan</button>
          </div>
        </div>
      </div>
    </main>
    <footer class="container-footer">
      <div class="footer-block">
        <img class="logo-footer" src="/images/Himatro.png" alt="Himatro Unila">
      </div>
      <div class="footer-block" style="flex-grow: 2;">
        <div class="footer-content">
          <p class="footer-sub-content">Lorem ipsum dolor, sit amet.</p>
        </div>

        <div class="footer-content">
          <p class="footer-sub-content">Lorem ipsum dolor, sit amet.</p>
        </div>

        <div class="footer-content">
          <p class="footer-sub-content">Lorem ipsum dolor, sit amet.</p>
        </div>

        <div class="footer-content">
          <p class="footer-sub-content">Lorem ipsum dolor, sit amet.</p>
        </div>
      </div>
    </footer>
  </body>
</html>