<!DOCTYPE html>

<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="icon" type="image" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/decoration.css">
    <title>Himatro Web App</title>
  </head>
  <body>
    <div class="kotak">
      <form action="/token/forgot-password" method="POST">
        <div class="imgcontainer">
        <img src="/images/Himatro.png" alt="Logo Himatro" class="logo">
        </div>
          <div class="container">
            <label for="newPassword"><b>Password Baru (minimal 8 huruf)</b></label>
            <input type="password" placeholder="Masukan password baru anda..." name="newPassword" required>
            <label for="newPasswordDuplicate"><b>Ulangi password baru anda</b></label>
            <input type="password" placeholder="Masukan password anda sekali lagi" name="newPasswordDuplicate" required>
            <button type="submit">Ganti Password</button>
          </div>
      </form>
    </div>

  </body>

</html>
