<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Himatro Form</title>
  <link rel="stylesheet" href="/css/dynamicForm.css">
</head>
<body>
  <main>
    <div class="form-container">
      <form id="mainForm">
      </form>
    </div>
  </main>
  <script>const formId = '<%= formId %>'</script>
  <script src="/js/dynamicForm.js"></script>
</body>
</html>