<!DOCTYPE html>

<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="icon" type="image" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/decoration.css">
    <title>Himatro Web App</title>
  </head>
  <body>
    <div class="kotak">
      <form action="/forgot-password" method="POST">
        <div class="imgcontainer">
        <img src="/images/Himatro.png" alt="Logo Himatro" class="logo">
        </div>
          <div class="container">
            <label for="userEmail"><b>Email (email aktif yang anda daftarkan)</b></label>
            <input type="text" placeholder="Masukan email anda..." name="userEmail" required>
            <button type="submit">Reset Password</button>
          </div>
      </form>
    </div>

  </body>

</html>
