<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Himatro</title>
		<link rel="stylesheet" href="/css/styless.css">
	</head>

	<body>
		<link rel="stylesheet" href="/css/layers.css">
		<header>
			<a href="index.html" class="logo">
				<img src="/images/Himatro.png"></img>
				<p class="nametag">himatro</p>
			</a>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="content.html">Content</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="/login">Log in</a></li>
			</ul>
		</header>
		<section class="layer1">
			<div class="lingkaran1"></div>
			<div class="lingkaran2"></div>
			<div class="lingkaran3"></div>
			<div class="kotak1"></div>
			<div class="kotak2"></div>

			<div class="slide">
				<img class="mySlides" src="/images/tes.png">
				<img class="mySlides" src="/images/tes2.png">
				<img class="mySlides" src="/images/tes.png">
				<img class="mySlides" src="/images/web.jpg">

				<button class="but-left" onclick="plusDivs(-1)">&#10094;</button>
				<button class="but-right" onclick="plusDivs(+1)">&#10095;</button>

				<script type="text/javascript">
					var slideIndex = 1;
					showDivs(slideIndex);

					function plusDivs(n) {
						showDivs2(slideIndex += n);
					}

					function showDivs(n) {
						var i;
						var z=0;
						var x = document.getElementsByClassName("mySlides");
						if (slideIndex > x.length) {slideIndex = 1}
						if (slideIndex < 1) {slideIndex = x.length} ;
						for (i = 0; i < x.length; i++) {
							x[i].style.display = "none";
						}
						x[slideIndex-1].style.display = "block";
						slideIndex++;
						setTimeout(showDivs, 5000);
					}

					function showDivs2(n) {
						var i;
						var z=0;
						var x = document.getElementsByClassName("mySlides");
						if (slideIndex > x.length) {slideIndex = 1}
						if (slideIndex < 1) {slideIndex = x.length} ;
						for (i = 0; i < x.length; i++) {
							x[i].style.display = "none";
						}
						x[slideIndex-1].style.display = "block";
					}
				</script>
			</div>

		</section>
		<section class="lined">
			<div class="decor">
				<div class="dec"></div>
			</div>
			<div class="decor2"></div>
		</section>
		<script type="text/javascript">
			window.addEventListener("scroll", function(){
				var header = document.querySelector("header");
				header.classList.toggle("joss", window.scrollY > 40);
			})
		</script>
		<script type="text/javascript">
			var lastScrollTop = 0;
				navbar = document.querySelector("header");
			window.addEventListener("scroll", function(){
				var scrollTop = window.pageYOffset || document
					.documentElement.scrollTop;
				if (scrollTop > lastScrollTop){
					navbar.style.top="-100%";
				}
				else {
					navbar.style.top="0"
				}
				lastScrollTop = scrollTop;
			})
		</script>
		<p>Web sedang dibangun</p>
		<section class="layer2">
			<p>Highlight</p>
			<div class="bigcontainer">
				<div class="containerHL"></div>
				<div class="containerHLdua"></div>
				<div class="containerHLtiga"></div>
			</div>
			<div class="bigcontainer2">
				<div class="containerHL"></div>
				<div class="containerHLdua"></div>
				<div class="containerHLtiga"></div>
			</div>
		</section>
		<script type="text/javascript">
			document.write("asamalajuma");
		</script>
		<footer>
			<section class="background">
				<br><br>
				<h2>Terimakasih Telah Berkunjung</h2>
				<br>
				<p>Web ini masih merupakan prototype yang belum selesai pengerjaanya, kami akan selalu upgrade dan menambahkan fitur fitur di web ini.</p>
			</section>
		</footer>
	</body>
</html>