<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Himatro</title>
		<link rel="stylesheet" href="/css/styless.css">
	</head>

	<body>
		<link rel="stylesheet" href="/css/layers.css">
		<link rel="stylesheet" href="/css/footer.css">
		<header>
			<a href="index.html" class="logo">
				<img src="/images/Himatro.png"></img>
				<p class="nametag">himatro</p>
			</a>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="content.html">Content</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="/login">Log in</a></li>
			</ul>
		</header>
		<section class="layer1">
			<div class="lingkaran1"></div>
			<div class="lingkaran2"></div>
			<div class="lingkaran3"></div>
			<div class="kotak1"></div>
			<div class="kotak2"></div>

			<div class="slide">
				<img class="mySlides" src="/images/tes.png">
				<img class="mySlides" src="/images/tes2.png">
				<img class="mySlides" src="/images/tes.png">
				<img class="mySlides" src="/images/web.jpg">

				<button class="but-left" onclick="plusDivs(-1)">&#10094;</button>
				<button class="but-right" onclick="plusDivs(+1)">&#10095;</button>

				<script src="/js/home.js">
				</script>
			</div>

		</section>
		<section class="lined">
			<div id="componen1" class="decor">
				<div class="dec"></div>
			</div>
			<div id="componen2" class="decor2"></div>
		</section>
		<script type="text/javascript">
		</script>
		<script type="text/javascript">
		</script>
		<section class="layer2">
			<p>Highlight</p>
			<div class="bigcontainer">
				<div class="containerHL"></div>
				<div class="containerHLdua"></div>
				<div class="containerHLtiga"></div>
			</div>
			<div class="bigcontainer2">
				<div class="containerHL"></div>
				<div class="containerHLdua"></div>
				<div class="containerHLtiga"></div>
			</div>
		</section>
		<footer>
			<section class="background">
				<br><br>
				<img src="images/favicon.png">
				<h2>Terimakasih Telah Berkunjung</h2>
				<br>
				<p>Web ini masih merupakan prototype yang belum selesai pengerjaanya, kami akan selalu upgrade dan menambahkan fitur fitur di web ini.</p>

				<div class="list1">
					<a href="/login">about us</a>
					<a href="">departement</a>
					<a href="">example</a>
				</div>
				<div class="list2">
					<a href="">facebook</a>
					<a href="">instagram</a>
					<a href="">twitter</a>
				</div>
				<div class="icons">
					<img src="images/iconfacebook.png">
					<img src="images/icontwitter.png">
					<img src="images/iconinsta.png">
					<img src="images/iconyoutube.png">
				</div>
				<p class="mark">Himatro Unila 2021</p>
			</section>
		</footer>
	</body>
</html>