<!DOCTYPE html>

<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="icon" type="image" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="login.css">
    <link rel="stylesheet" type="text/css" href="decoration.css">
    <title>Himatro Web App</title>
  </head>
  <body>
    <div class="kotak">
      <form action="/login" method="POST">
        <div class="imgcontainer">
        <img src="/images/Himatro.png" alt="Logo Himatro" class="logo">
        </div>
          <div class="container">
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Username" name="email" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
          </div>
      </form>
    </div>

    <div class="decoration">
      <div class="dec1">
        <div class="dec2">
        </div>
      </div>
    </div>
    <div class="decor2">
      <div class="decor3">
      </div>
    </div>

  </body>

</html>
