<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" type="image" href="images/favicon.ico">
    <title>Himatro Web App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header>
      <nav>
        <ul class="topnav">
          <li class="right"><a href="#"><img class="navbar-image" src="images/favicon.png" alt="logo himatro"></a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="judul-konten">
        <section>
          <h3>Masukan data diri anda sesuai dengan yang ada pada formulir</h3>
        </section>
      </div>

      <div class="search-bar">
        <section>
          <form class="example" action="/absensi">
           <input type="text" placeholder="Search.." name="absentId">
           <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </section>
      </div>

      <div class="test">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. :)</p>

      </div>
    </main>
    <div class="footer-dark">
      <footer>
          <div class="container">
              <div class="row">
                  <div class="col-md-6 item text">
                      <h3>Himatro Web App</h3>
                      <p>Website ini masih dalam tahap pengembangan. Setiap saran, masukan, atau kontribusi anda akan sangat kami hargai!</p>
                  </div>
                  <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
              </div>
              <p class="copyright">Himatro Unila © 2021</p>
          </div>
      </footer>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</html>
