<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="icon" type="image" href="test.ico">
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
	<title>Sign Up</title>
</head>
<body>
	<form action="/one-time-signup" method="POST">
		<div class="signContainer">
			<div class="formSignUp">
				<div class="formmargin">
					<h2>Sign Up</h2>
					<label for="nama"><b>Nama</b></label>
            		<input type="text" placeholder="Enter Name" name="nama" required>

            		<label for="npm"><b>NPM</b></label>
            		<input type="text" placeholder="Enter NPM" name="npm" required>

					<label for="email"><b>Email</b></label>
            		<input type="text" placeholder="Enter Username" name="email" required>

					<label for="formId"><b>Form Id:</b></label>
            		<input type="text" placeholder="Enter Form Id" name="formId" required>
            		<button type="submit">Sign Up</button>
            	</div>
			</div>
		</div>
	</form>
</body>
</html>