<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Dynamic Form</title>
  <style>
    * {
      box-sizing: border-box;
    }

    h1 {
      text-align: center;
    }
  </style>
</head>
<body>
  <header>
    <h1>Create Dynamic Form that Meets Your Need!</h1>
  </header>
  <main></main>
  <footer></footer>
</body>
</html>