footer {
	min-height: 200px;

}
footer img {
	position: relative;
	width: 300px;
	left: 100px;
}

footer .background {
	width: 100%;
	height: 400px;
	position: relative;
	background-color: #000;
}
footer h2 {
	font-size: 19px;
	color: #aaaaaa;
	font-family: "footerh";
	position: relative;
	top: 20px;
	left: 100px;
}

footer p {

	color: #aaaaaa;
	max-width: 40%;
	font-family: "footer";
	font-size: 14px;
	position: relative;
	left: 100px;
}

.list1{
	position: absolute;
	top: 150px;
	right: 0px;
	padding-right: 100px;
	width: 200px;
	color: #aaaaaa;
	z-index: 2;
}

.list2{
	position: absolute;
	top: 150px;
	right: 0px;
	padding-right: 350px;
	width: 200px;
	color: #aaaaaa;
}
.text{
	position: relative;
	top: 5px;
}
footer a{
	color: #aaaaaa;
}
footer a:hover{
	color: #505050;
}