.layer1 {
	position: relative;
	background-color: #202d43;
	width: 100%;
	height: 1000px;
	overflow: hidden;
	z-index: 1;
}

.lingkaran1 {
	width: 400px;
	height: 400px;
	background-color: #2a3d53;
	border-radius: 30%;
	position: relative;
	top:-150px;
	left: -5px;
	z-index: 2;
	-webkit-transform: rotate(30deg);
  	-moz-transform: rotate(30deg);
  	-ms-transform: rotate(30deg);
 	-o-transform: rotate(30deg);
  	-transform: rotate(30deg);
  	animation: lingkaran_satu 1s ease;
}

@keyframes lingkaran_satu {
	0% {
		width: 100px;
		height: 10px;
	}
	20% {
		width: 500px;
		height: 500px;
	}
	100% {
		width: 400px;
		height: 400px;
	}
}

.lingkaran2 {
	width: 150px;
	height: 150px;
	background-color: #2a3d53;
	border-radius: 100%;
	position: relative;
	top:-150px;
	left: 355px;
	z-index: 2;
	animation: lingkaran_dua 1s ease;
}

@keyframes lingkaran_dua {
	0% {
		width: 10px;
		height: 10px;
	}
	100% {
		width: 150px;
		height: 150px;
	}
}

.lingkaran3 {
	width: 80px;
	height: 80px;
	background-color: #2a3d53;
	border-radius: 100%;
	position: relative;
	top:-210px;
	left: 465px;
	z-index: 2;
	animation: lingkaran_tiga 1s ease;
}

@keyframes lingkaran_tiga {
	0% {
		width: 200px;
		height: 200px;
	}
	100% {
		width: 80px;
		height: 80px;
	}
}

.kotak1 {
	width: 70px;
	height: 480px;
	position: absolute;
	top: 400px;
	left: 49%;
	background-color: #2a3d53;
	border-radius-left: 26%;
	-webkit-transform: rotate(40deg);
  	-moz-transform: rotate(40deg);
  	-ms-transform: rotate(40deg);
 	-o-transform: rotate(40deg);
  	-transform: rotate(40deg);
  	z-index: 2;
  	animation: kotak_satu 1s ease;
}

@keyframes kotak_satu {
	0% {
		height: 10px;
		top: 500px;
	}
	60%{
		height: 480px;
		top: 400px;
	}
	70%{
		height: 480px;
		top: 370px;
	}
	80%{
		height: 480px;
		top: 420px;
	}
	90%{
		height: 480px;
		top: 390px;
	}
	100%{
		height: 480px;
		top: 400px;
	}
}

.kotak2 {
	width: 100px;
	height: 600px;
	position: absolute;
	top: 400px;
	left: 53.5%;
	background-color: #2a3d53;
	-webkit-transform: rotate(40deg);
  	-moz-transform: rotate(40deg);
  	-ms-transform: rotate(40deg);
 	-o-transform: rotate(40deg);
  	-transform: rotate(40deg);
  	z-index: 2;
  	animation: kotak_dua 1s ease;
}

@keyframes kotak_dua {
	0% {
		height: 10px;
		width: 10px;
		top: 500px;
	}
	70% {
		width: 10px;
	}
	100% {
		height: 600px;
		width: 100px;
		top: 400px;
	}
}

.lined {
	width: 100%;
	height: 460px;
	background-color: #efddef;
	position: relative;
	overflow: hidden;
	z-index: 3;
}

@media screen and (max-width: 900px){
	.kotak1{
		visibility: hidden;
	}
	.kotak2{
		visibility: hidden;
	}
	header ul{
		visibility: hidden;
	}
}

@media screen and (max-width: 700px){
	header .logo{
		left:-30px;
	}
	header.joss {
		padding: 5px 60px;
	}
	header .logo p{
		left: 60px;
	}
	.lingkaran1{
		width: 300px;
		height: 300px;
	}
}

.decor {
	position: absolute;
	left: -100px;
	top: -100px;
	width: 500px;
	height: 500px;
	background-color: #78DEC7;
	border: 20px;
	border-color: #000000;
	border-radius: 20px;
	
	animation-name: animateblok;
	animation-duration: 1s;
	transform: rotate(-20deg);
}

.decor .dec{
	position: relative;
	left: 40px;
	top: 40px;
	width: 420px;
	height: 420px;
	background-color: #efddef;
	border-radius: 20px; 
}
.decor2{
	position: absolute;
	top: 300px;
	left: 70%;
	width: 800px;
	height: 300px;
	background-color: #78DEC7;
	border: 20px;
	border-color: #000000;
	border-radius: 150px;
	animation-name: animateblok2;
	animation-duration: 0.7s;
}

@keyframes animateblok{
	0%{
		transform: scale(3);

	}
	70%{
		transform: scale(1);	
	}
	71%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(-20deg);
	}
}

@keyframes animateblok2{
	0%{
		left: 100%;
	}
	70%{
		left: 60%;
	}
	100%{
		left: 70%;
	}
}

.layer2 {
	position: relative;
	background-color: #202d43;
	width: 100%;
	height: 1000px;
	overflow: hidden;
	z-index: 1;
}
.layer2 p{
	position: relative;
	width: 100px;
	left: 50%;
	top: 20px;
	text-align: center;
	margin-left: -50px;
	color: #fff;
}
.layer2 .bigcontainer{
	position: absolute;
	width: 1100px;
	height: 320px;
	left: 50%;
	top: 150px;
	margin-left: -550px;
	background-color: #BFCBA8;
}

.layer2 .bigcontainer2{
	position: absolute;
	width: 1100px;
	height: 320px;
	left: 50%;
	top: 500px;
	margin-left: -550px;
	background-color: #BFCBA8;
}

.layer2 .containerHL{
	position: absolute;
	left: 20px;
	top: 20px;
	width: 320px;
	height: 280px;
	background: #5B8A72;

}
.layer2 .containerHLdua{
	position: absolute;
	left: 50%;
	top: 20px;
	width: 320px;
	height: 280px;
	margin-left: -160px;
	background: #5B8A72;
}
.layer2 .containerHLtiga{
	position: absolute;	
	width: 320px;
	height: 280px;
	right: 20px;
	top: 20px;
	background: #5B8A72;
}